*.pidb
*.VisualState.xml
*.suo
*.csproj.user
*.vsp
/Aegir/obj
/Aegir/bin
/AegirTests/obj
/AegirTests/bin
/AegirTiles/bin
/AegirTiles/obj
/AegirWPF/bin
/AegirWPF/obj
/AegirMapControl/bin
/AegirMapControl/obj